body {
    background-image:
        linear-gradient(#00597C, #00000080, #00597C, black),
        url("../assets/background.png");

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0;
    padding:100%;
}